.Ad-div{
    display: flex;
    flex-direction: column;
    height: 20rem;
    background-color: rgb(37, 36, 36);
    align-items: center;
    justify-content: center;
}

.Ad-Text{
    color: #f8f6f6;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 51, 0),
        0 0 82px rgb(225, 79, 49),
        0 0 92px rgb(236, 180, 166),
        0 0 102px rgb(255, 30, 0),
        0 0 151px rgb(255, 0, 0);
    animation:flicker 1.5s infinite alternate;     
    ;
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(255, 81, 0),
        0 0 80px rgb(255, 106, 0),
        0 0 90px rgb(255, 42, 0),
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

  .Ad-Desc{
    color: white;
    margin: 0px
  }